.card-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.date{
    position: centered;
    border: solid black 1px;
    margin-top:10%;
    margin-bottom:5% ;
    background-color: lightgray;
}

.btn{
    color:white;
    float:right;
}

.performance{
    position: centered;
}